<html lang="en">
<head>
    <title>Lendup IVR System </title>

    <meta charset="UTF-8">

    <style>
	  
	</style>
	   
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    
	<!-- jQuery -->
	<script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="http://jqueryvalidation.org/files/dist/jquery.validate.min.js"></script>
	<script src="http://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>
</head>
<body>

<div class="container">
	<h3>IVR Calls- Make a new call</h3>
	<form id='call-form' class='form-inline'>
  	<div class="form-group col-xs-4">
    	<label for="exampleInputEmail1">Phone Number</label>
    	<input type="text" class="form-control" id="phone_number" name="phone_number" placeholder="Ex: +15712017611">
  	</div>
  	<div class="form-group col-xs-4">
    	<label for="exampleInputPassword1">Time Delay (In seconds)</label>
    	<input class="form-control" id="time_delay" name="time_delay" placeholder="Time Delay in Seconds">
  	</div>
  
  	<button id="form-submit" class="btn btn-default">Submit</button>
	</form>

	<div id="vis_table_container" style="height:50px;"></div>
	<h3>IVR Calls Past Records</h3>
	<div class="span12">
	
	<table id="data_table" class="table table-hover">
              <thead>
                <tr>
                  <th>Call Id</th>
                  <th>PhoneNumber</th>
                  <th>Call Date and Time</th>
                  <th>Digit Pressed</th>
                  <th>Delay</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                               
              </tbody>
    </table>
	
	
	</div>
	
<script type="text/javascript">

$('#call-form').validate({
        rules: {
            phone_number: {
            	phoneUS: true,
                required: true,
      			
            },
            time_delay: {
                digits: true,
                required: true
            }
        },
        highlight: function(element) {
            $(element).closest('.form-group').addClass('has-error');
        },
        unhighlight: function(element) {
            $(element).closest('.form-group').removeClass('has-error');
        }
    });

$("#call-form").submit(function() {
//alert( "You n");
	$.ajax({
  	method: "GET",
  	url: "/makecall",
  	data: { phone_number: $("#phone_number").val(), time_delay:  $("#time_delay").val()}
	}).fail(function(msg) {
    	alert( "error");
  	})
  	.done(function( msg ) {
    	alert( "Call will be placed and digit will be updated." );
    	update_calls();
  });
  return false;
});

update_calls();

function update_calls() {
 $('#data_table tbody').html("");
$.getJSON( "/getcalls", function( data ) {
	  tr_html="";
	   $.each( data, function(key, val) {
	   console.log(val);
	   id = val.pk;
	   phone_number = val.fields.phone_number;
	   time_delay = val.fields.time_delay;
	   date_time = val.fields.call_time;
	   digit = val.fields.digit_entered;
	   tr_html += "<tr><td>"+id+"</td><td>"+phone_number+"</td><td>"+date_time+"</td><td>"+digit+"</td><td>"+time_delay + " seconds</td><td><a onclick='replay("+id+")' class='btn btn-success'>Replay</a></td></tr>"
		
	  });
	  $("#data_table").append(tr_html);
	
});
}

function replay(id) {
  console.log(id);
  $.ajax({
  	method: "GET",
  	url: "/previouscall?id="+id
  	//data: { name: "John", location: "Boston" }
	}).fail(function(msg) {
    	alert( "error");
  	})
  	.done(function( msg ) {
    	alert( "Data Saved: " + msg );
  });
}
</script>
</div>
</body>
</html>